.nav {
    background-color: #F9F9FA;
    padding : 15px 45px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    position:fixed;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
}

.nav__notification {
    position: absolute;
    left: 20px;
    bottom:18px;
}

.nav__update {
    position: absolute;
    left: 30px;
}