.nav {
    background-color: #F9F9FA;
    padding : 15px 45px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    position:fixed;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
}

.nav__notification {
    background-color: #FA622A;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 20px;
    bottom:18px;
    font-size: 12px;
}

.nav__update {
    background-color: #FA622A;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
}