.user-component {
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__column:last-child {
    color: #A9A9A9;
}

.user-component__title {
    font-weight: 600;
    font-size: 22px;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 24px;
    margin-right: 20px;
}

.user-component__subtitle {
    margin-top:8px;
    font-size:17px;
    color: rgba(0,0,0,0.3);
}

/* .user_component__avatar--xl {
    width: 80px;
    height: 80px;
} */

.user-component__avatar-sm {
    width: 50px;
    height: 50px;
    border-radius: 18px;
}

.user-component__title-channel {
    font-size: 20px;
    font-weight: 400;
}

.user-component__notification {
    background-color: #FA622A;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
}
/Users/seungho/git/kakao-clone/screenshots/04.png
.user-component__receive-time {
    font-size: 14px;
}